attrs
bgg-api
blinker
cattrs
certifi
charset-normalizer
click
colorama
Flask
idna
itsdangerous
Jinja2
MarkupSafe
platformdirs
requests==2.31.0
requests-cache==1.1.1
url-normalize
urllib3==1.26.6
Werkzeug
xmltodict
sqlalchemy
waitress
googletrans
deep_translator
celery